/* Base Styles */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

html {
    background: $gray-base;
    background-image: url(mozaic.png), linear-gradient(-180deg, rgba(255, 255, 255, .6) 0%, rgba(0, 0, 0, .6) 100%);
    min-height: 100%;
    height: auto;
}

body {
    font-family: $font-main;
    font-size: 1rem;
    line-height: 160%;
    *zoom: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main;
    font-weight: normal;
    color: $dkgray-accent1;
    text-shadow: 2px 1px rgba(255, 255, 255, .2);
}

a {
    color: $dkgray-accent4;
    font-weight: 600;
    font-family: $font-highlight;
}

a:hover {
    color: $gray-base;
}

h1 {
    color: $dkgray-accent1;
    font-size: 2.2rem;
    line-height: 100%;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 3px;
    line-height: 90%;
    color: $dkgray-accent4;
}

h3 {
    margin-top: 0;
    color: $dkgray-accent3;
    line-height: 110%;
    margin-bottom: 5px;
}

p {
    line-height: 1.3rem;
    color: $dkgray-accent2;
    margin-bottom: 10px;
    font-family: $font-main;
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}