/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #023E54; 
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#023E54), to(#10AAC0));
  background-image: -webkit-linear-gradient(top, #023E54, #10AAC0); 
  background-image: -moz-linear-gradient(top, #023E54, #10AAC0);
  background-image: -o-linear-gradient(top, #023E54, #10AAC0);
  min-height: 100%;
  height: auto;
}

body  {
    margin-top: 80px;
    font-family: $font-main;
    font-size: 1rem;
    line-height: 160%;
    *zoom: 1;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-main;
    font-weight: normal;
    color: $dkgray;
}

a {
    color: $color-links; //#145266;
    font-family: $font-main;
}

header {
    margin-bottom: 20px;
}

h1{
    color: $white;
    font-size: 1.6rem;
    line-height: 100%;
    margin-bottom: 10px;
}

h2{ 
    font-size: 1.2rem;
    line-height: 90%;
    color: $color-headlines;
    font-weight: bold;
    margin-top: 3px;
}

h3{ 
    margin-top: 2px;
    color: $blue;
    line-height: 110%;
    margin-bottom: 3px;
}

p {
    line-height: 1.3rem;
    color: $white;
    margin-bottom: 10px;
    font-family: $font-main;
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}

.card {
    width: 90%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    text-align: center;
    position: relative;
    opacity: 1;
    border-radius: 4px;
    z-index: 20;
}

.details{
    background-color: $offwhite;
    padding: 2px;
}

.login, .register{
    background-color: $dkbluegreen;
}
