.details{
    background-color: $dkbluegreen;
    margin-top: 30px;
    margin-bottom: 30px;

    article{
        border: 1px solid $darkbluegreen;
    }

    header{
        background-color: $darkbluegreen;
        text-align: left;
        padding: 5px;
        h1, h3{
            color: $white;

        }
    }

    div.pub-card{
        width: 40%;
        min-width: 300px;
        height: auto;
        background-color: #174E5B;
        margin: 5px;
        padding: 0;
        border-top: 3px solid $darkbluegreen;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0 0 3px 2px transparentize($color: $lightbluegreen, $amount: .5);
        overflow: hidden;

        div.img-container, div.pub-infos{
            display: inline-block;
        }

        div.img-container{
            width: 100px;
            height: 100px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            float: left;

            img{
                width: 100%;
                margin: 0;
            }

        }

        div.pub-infos{
            vertical-align: top;
            width: 49%;
            h3{
                font-weight: bold;
            }
            h3, p{
                font-size: 1em;
                color: $darkbluegreen;
                text-align: left;
            }
        }
    }


}
