.customer info {
  display: block;
  float: left;
  padding-left: 120px !important;
}

.customer:last-child {
  border-bottom:none;
}

.customerinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
}

.customerinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.customerinfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

.customerinfo .btn {

}