/* customer List Styles */

.customerlist {
  background: #EEE8D5;
  width: 50%;
  min-width: 290px;
  max-width:350px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: .95;
  z-index: 10;
}

.customerlist ul {
  margin: 0;
  padding: 0;
  background: #FDF6E3;
}

.customerlist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px dotted black;
  opacity: .9;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.customerlist a {
  display: block;
  text-decoration: none;
}

.customerlist li:hover div.info h4.count{
  position: absolute;
  left: 50%;
  top: 28%;
}

.customerlist li:hover {
  background: #FDF6E3;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.customer img {
  display: block;
  float: left;
  width: 60px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.customer.ng-move,
.customer.ng-enter,
.customer.ng-leave {
  transition: all linear 0.5s;
}

.customer.ng-leave.ng-leave-active,
.customer.ng-move,
.customer.ng-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.customer.ng-leave,
.customer.ng-move.ng-move-active,
.customer.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 80px;
  overflow: hidden;
}