$gray-base      : #CCCCCC;
$dkgray-accent1 : #a0a0a0;
$dkgray-accent2 : #797979;
$dkgray-accent3 : #696969;
$dkgray-accent4 : #5f5f5f;


$color-main: $dkgray-accent4;
$color-backgrounds: $dkgray-accent3;
$color-headlines: $dkgray-accent2;


$font-main: 'Open Sans', sans-serif;
$font-highlight: 'Source Sans Pro', sans-serif;

//breakpoints
$small:		450px;
$medium:	760px;
$large:		1200px;
